/*
*
*	Styling for wp-issues-crm output
*
*
*/

/*
*
* first, styles for main search/update/save form, from top to bottom
*
*/

/* override browser system styling */
input,
button {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

/* override styling from responsive-tabs */
#full-width-content-wrapper .wic-post-list li,
#full-width-content-wrapper #wic-forms p,
#full-width-content-wrapper p.wic-list-legend {
	max-width: 1200px;
}


#wic-top-level-form {
	/* assumes that containing theme will provide a little padding */
	margin: 0;
}

/* top-level form button styling ( look like horizontal menu tabs )  */
.wic-form-button {
	background: #C6C2BA;
	border: 0px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	margin-right: 8px;
	padding: 0px 8px;
	width: 120px;
}

.wic-form-button.wic-form-button-selected {
	background: #96928a;
}

.wic-form-button:hover {
	background: #D2CEC6;
	color: black;
}

/* main form div wrapper -- wic-forms */
/* set to live within 920px */
#wic-forms {
	border-bottom: 2px solid #999;
	width: 920px;
	max-width: 100%;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

/* message box and notices */
#post-form-message-box {
	background: #f8f8f8;
	color: #777;
	margin:  10px 0;
	padding: 10px 0 10px 128px;
}

/* semantic colors for message */
#post-form-message-box.wic-form-routine-guidance {
	background: transparent;
}
#post-form-message-box.wic-form-errors-found {
	background: #fae0e0;
}
#post-form-message-box.wic-form-search-notices {
	background: #fff0aa;
}
#post-form-message-box.wic-form-good-news {
	background: #e0fae0;
}		

/* positioning action buttons within form */
/* 128 px is width of button plus button right margin, so this is a one button indent */		
.wic-post-form .wic-form-button {
	margin: 0 0 10px 128px;
}

#wic-post-form .second-position {
	margin: 0 0 10px 10px;
}


/* body of form -- field group areas */
#wic-form-body {
	display:block;
	width: 100%;
}
 
#wic-form-main-groups {
	display: inline-block;
	min-height: 640px;
	overflow-x: hidden;
	width: 640px;
}
#wic-form-sidebar-groups {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #777;
	display: inline-block;
	height: 640px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 30px;
	vertical-align: top;
	width: 280px;	
}


/* field groups formatting */
.wic-form-field-group {
	margin: 0; 
	max-width: 100%;
	padding: 0;
}

.field-group-show-hide-button {
	background: none;
	border: 0;
	color: #aaa;
	cursor: pointer;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	margin: 0 0 10px -3px;
	padding: 0 0 0 0;
	text-align: left;	
	width: 100%
}

.field-group-show-hide-button:hover {
	color: #777;
}

.show-hide-legend {
	font-size: 0.6em;
	padding-left: 10px;
}
p.wic-form-field-group-legend {
	color: #777;
	font-size: 0.8em;
	margin: 0 0 10px 0;
}

.wic-form-field-group-label {
 	color: #777;
}

/* no need for header for contact group */
#wic-inner-field-group-contact-toggle-button {
	display: none;
}

/* basic field styling */

/* wrapper around each label/control pair */
.wic-control {
	margin: 0 0 10px 0; 
}

.wic-multivalue-field-subgroup {
	margin: 0 0 0 0;
}

label.wic-label {
	color: #777;
	display: inline-block;
	font-size: 0.8em;
	min-width: 120px;
	margin-right: 8px;
	padding: 0;
	text-align: right;
	vertical-align: top;
}

/* as in the label between range of dates */
.wic-label-2 {
	display: inline-block;
	color: #aaa;
	padding: 0 8px 0 0;
	
}

.wic-multi-select-label:hover,
.wic-label-2:hover,
.wic-label:hover {
	color: #333;
	cursor: pointer;
}

.wic-input {
	background: #ffffff;
	border: 1px solid #f0f0f0;
	font-size: 1.1em;
	margin: 0 8px 0 0;
} 

select.wic-input {
	color: #999;
	cursor: pointer;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

select.wic-input:hover {
	color: #333;
}

::-webkit-input-placeholder {
   color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
   color: #aaa; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa; 
}

:-ms-input-placeholder {  
   color: #aaa;  
}

/* style to line up with labels above it */
.row-add-button {
	background: #e0fae0;
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.0em;
	font-weight: 900;
	margin: 0 0 0px -3px;
	padding: 0 5px;

}

.row-add-button:hover {
	background: green;
	color: white;
	font-size: 1.0em;
} 

/********************************************************
* Individual field styling in constituent form
*********************************************************/
/* rows sized to add up to 540px in main area */
/* name row */
#wic-control-first-name,
#wic-control-middle-name,
#wic-control-last-name {
	display: inline-block;
}

.wic-label.middle-name,
.wic-label.last-name {
	display: none;
}

/* fn sized to lineup under second standard button */
.wic-input.first-name {
	width: 116px;
	margin-bottom: 20px; /* spaces whole name row */
}

.wic-input.last-name {
	width: 236px;
}

.wic-input.middle-name {
	width: 114px;
}


.wic-multivalue-block {
	margin-bottom: 10px;
}

/* delete button for multi-rows  ( really a label )  */
.wic-input-deleted-label {
	background: #fae0e0;;
	border: none;
	color: #333;
	cursor: pointer;
	font-size: 1em;
	font-weight: 700;
	margin: 0 8px 0 0; 
	padding: 0 2px 0 6px;
}

.wic-input-deleted-label:hover {
	background: red;
	color: white;

}
/* note -- this is a check box, manipulated by its label, the deleted 'x' */
.wic-input-deleted {
    display: none;
}

/* styling of field rows for fields that are added and removed */
.hidden-template {
	display: none;
}

.visible-template {
	display: block;
}




/* standardize drop down width to a button width */
.wic-input.mark-deleted,
.wic-input.party,
.wic-input.voter-status,
.wic-input.gender,
.wic-input.case-status,
.wic-input.activity-type,
.wic-input.address-type,
.wic-input.phone-type, 
.wic-input.email-type {
	cursor: pointer;
	width: 120px;
} 

/* make these a little smaller on update/save forms 
* to allow room for delete button (27px) 
*/
#wic-form-constituent-save .wic-input.phone-type,
#wic-form-constituent-save .wic-input.activity-type,
#wic-form-constituent-save .wic-input.address-type,
#wic-form-constituent-save .wic-input.email-type,
#wic-form-constituent-update .wic-input.phone-type,
#wic-form-constituent-update .wic-input.activity-type,
#wic-form-constituent-update .wic-input.address-type,
#wic-form-constituent-update .wic-input.email-type {
	width: 93px;
} 

.wic-input.phone {
	width: 238px;
}

#wic-form-constituent-search .wic-input.phone {
	margin-bottom: 20px; /* space row on search form */
}

.wic-input.extension {
	width: 114px;
} 

.wic-input.address-line,
.wic-input.email-address {
	width: 362px;
}

#wic-form-constituent-search .wic-input.email-address,
#wic-form-constituent-search .wic-input.city {
	margin-bottom: 20px; /* space row on search form */
}

.wic-label.address-line {
	display: none;
}

#wic-field-subgroup-activity,
.wic-field-subgroup-activity,
#wic-field-subgroup-activity_issue,
.wic-field-subgroup-activity_issue,
#wic-field-subgroup-activity_note,
#wic-field-subgroup-address_line_1,
.wic-field-subgroup-address_line_1 {
	margin: 0 0 10px 0;
}


.wic-field-subgroup-activity_note {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}


/* with border and input padding = 120 */
.wic-input.state,
.wic-input.zip {
	width: 114px;
} 
/* plus 128 extends one further across grid */
.wic-input.city {
	width: 242px;
}

label.wic-label.activity-date {
	display: inline-block;
	min-width: 0px;
	text-align: left;
	vertical-align: top;
	padding: 0 3px;
}

.wic-input.activity-date {
	width: 135px;
	min-width: 0;
}

/* widen it on update form since lose range and want to line up issue link button */
#wic-form-constituent-update .wic-input.activity-date {
	width: 188px;
}

.wic-field-subgroup-activity_issue .wic-input.issue,
#wic-field-subgroup-activity_issue .wic-input.issue {
	width: 366px;
}

.wic-form-button.wic-activity-issue-link-button {
	margin: 0;
}

.wic-input.pro-con {
	width: 120px;
	min-width: 0px; 
} 

input.wic-input.activity-note, 
textarea.wic-input.activity-note {
	width: 488px;
	min-width: 0px;
}

/* only show mark deleted on update form */
#wic-form-constituent-save .mark-deleted,
#wic-form-constituent-search .mark-deleted {
	display: none;
}

/* no need to show online comments group in search mode */ 
#wic-form-constituent-search #wic-field-group-comment {
	display: none;
} 

#wic-field-group-comment {
	margin: 10px 0 10px 128px;
}

/* format comment list, shown only on update screen */
li.comment-issue-link,
li.constituent-comment-date,
li.constituent-comment-issue {
	display: inline-block;
	color: #777;
}

li.constituent-comment-date {
	vertical-align: top;
	width: 120px;
}

li.constituent-comment-issue {
	width: 320px;
}

li.constituent-comment-date {
	margin-right: 8px; 
}

ul.constituent-comment-row,
ul#constituent-comment-list {
	list-style: none;
	margin: 10px 0 0 0 ;
	padding: 0;
}

.wic-form-button.wic-comment-issue-link-button {
	font-size: 0.8em;
	line-height: 16px;
	margin: 0 0 0 2px;	
	width: initial;
}

/* bottom of screen legends */
.wic-form-legend,
.wic-list-legend {
	color: #999;
	font-size: .8em;
}
.wic-form-legend {
	margin: 10px 0 10px 128px;
}


/*******************************************************
*
* Styling of sidebar controls area 
*
********************************************************/

#wic-form-sidebar-groups .field-group-show-hide-button {
	font-size: 1em;
	margin: 10px 0 10px -3px;
}

#wic-form-sidebar-groups #wic-inner-field-group-search_parms-toggle-button {
	margin: 0 0 10px -3px;
	padding: 0;
}

#wic-field-group-search_parms {
	margin: 0;
}


#wic-form-sidebar-groups .wic-label {
	color: #777;
	display: block;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	text-align: left;
}

#wic-form-sidebar-groups .wic-label:hover {
	color: #333;
	cursor: pointer;
}


#wic-form-sidebar-groups .wic-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #f0f0f0;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	width: 100%;
} 

#wic-form-sidebar-groups select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#wic-form-issue-search #wic-form-sidebar-groups .wic-input.post-date,
#wic-form-issue-search #wic-form-sidebar-groups .wic-input.review-date,
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.case-review-date,
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.date-of-birth,
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.reg-date {
	width: 82px;
	min-width: 0;
}

/*******************************************************
*
* Additional styling for issues forms
*
*******************************************************/
#wic-inner-field-group-issue_content-toggle-button,
#wic-inner-field-group-issue_classification-toggle-button {
	display: none;
}

/*
* Note: these display choices go along with decision in class-wic-db-access-wp.php
*   not to support search by post-content.  The s parm in WP_Query searches title and content, so redundant. 
*/

#wic-form-issue-search .wic-label.post-title  {
	display: none;
}

#wic-form-issue-search #post_title {
	margin: 0 0 0 128px;
}

.wic-input.post-title,
.wic-input.tags-input {
	width: 360px;
}

/* styling for multiselect category controls */
.wic-multivalue-control-set {
	display: inline-block;
}

div.wic_multi_select {
	display: inline-block;
	background: #ffffff;
	border: 1px solid #f0f0f0;
	height: 300px;
	overflow-y: scroll;
	margin: 0 0 0 0;
	padding: 20px 0;
	width:  360px;
}

.wic_multi_select_item {
	display: block;
	margin: 0;
	max-width: 600px;
}

.wic-multi-select-checkbox {
	text-align: right;
}

.wic-multi-select-label {
	color: #333;	
	cursor: pointer;
	display: inline-block;
	width: 280px;
	vertical-align: top;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.wic-multi-select-depth-1 {
	padding-left: 20px;
}

.wic-multi-select-depth-2 {
	padding-left: 40px;
}

.wic-multi-select-depth-3 {
	padding-left: 60px
}

.wic-multi-select-depth-4 {
	padding-left: 60px
}

.wic-multi-select-depth-5 {
	padding-left: 60px
}

.wic-multi-select-depth-6 {
	padding-left: 60px
}

#wic-issue-post-edit-link {
	display: block;
	margin: 10px 0 20px 128px;
	font-size: 0.8em;

}

/* prevent generic styling from overriding wic styling */
.wic-input.post-author,
.wic-label.post-author {
	font-style: normal;
}	

.wic-input.post-content{
	height: 300px;
	width: 360px;
}


/***************************************************************** 
*
* constituent and issue list styling 
*
******************************************************************/

/* outer ul for whole list */
.wic-post-list {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	list-style: none;
	margin: 0;
	padding-left: 0px;
}

/* alternating row colors applied to li's in outer list */
.pl-odd {
	background: #f1f1f1;
}

.pl-odd:hover {
	background: #ececec;
}

.pl-even {
	background: #f0f0fa;
}

.pl-even:hover {
	background: #f5f5fa;
}

.pl-odd.case-assigned {
	background: #e1e1ff;
}

.pl-even.case-assigned {
	background: #d1d1ee;
}

.pl-odd.case-assigned:hover {
	background: #eaeaff;
}

.pl-even.case-assigned:hover {
	background: #dadaee;
}


.pl-odd.case-assigned.case-open {
	background: #e1ffe1;
}

.pl-even.case-assigned.case-open {
	background: #d1eed1;
}

.pl-odd.case-assigned.case-open:hover {
	background: #eaffea;
}

.pl-even.case-assigned.case-open:hover {
	background: #daeeda;
}


.pl-odd.case-assigned.case-open.overdue {
	background: #ffe1e1;
}

.pl-even.case-assigned.case-open.overdue {
	background: #eed1d1;
}

.pl-odd.case-assigned.case-open.overdue:hover {
	background: #ffeaea;
}

.pl-even.case-assigned.case-open.overdue:hover {
	background: #eedada;
}

.long-overdue {
	font-weight: 700;
}





/* header (horizontal) list styling */
ul.wic-post-list-headers {
	font-size: 14px;
	font-weight: 700;
	list-style: none;
	padding: 8px 8px;
}

li.wic-post-list-header,
li.wic-post-list-field {
	display: inline-block;
	vertical-align: top;	
}
button.wic-post-list-button
 {
	border: none;	
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: left; 
	width: 100%;
}


ul.wic-post-list-line {
 	
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 8px;
	vertical-align: top;
	list-style: none;
	width: 100%;	
}
.pl-constituent-first_name{ width:14%;}
.pl-constituent-middle_name{ width:14%;}
.pl-constituent-last_name{ width:14%;}
.pl-constituent-phone{ width:15%;}
.pl-constituent-email{ width:28%;}
.pl-constituent-city{ width:20%;}
.pl-activity-activity_date{ width:19%;}
.pl-activity-activity_type{ width:10%;}
.pl-activity-activity_issue_id{ width:61%;}
.pl-activity-activity_pro_con{ width:10%;}
.pl-issue-issue_staff{ width:15%;}
.pl-issue-wic_live_issue{ width:8%;}
.pl-issue-follow_up_status{ width:10%;}
.pl-issue-post_title{ width:40%;}
.pl-issue-post_category{ width:17%;}
.pl-issue-post_status{ width:8%;}
.wic-post-list-header.pl-search_log-entity,
.wic-post-list-field.pl-search_log-entity {
	display: none;
}
.pl-search_log-user_id{ width:15%;}
.pl-search_log-time{ width:20%;}
.pl-search_log-serialized_search_array{ width:45%;}
.pl-search_log-download-time{ width:20%;}



.wic-list-legend {
	margin: 10px 0;
}



.wic-dashboard-header {
	color: #777;
}
